PORT=8081
MYSQL_DSN=your_user:your_password@tcp(127.0.0.1:3306)/go_todo?charset=utf8mb4&parseTime=True&loc=Local
JWT_SECRET=your_jwt_secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=168h

REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0